Django==4.2.23
djangorestframework==3.16.1
Pillow==11.3.0
python-decouple==3.8
psycopg2-binary==2.9.10
cloudinary==1.44.1
django-cloudinary-storage==0.3.0
dj-database-url==3.0.1
requests==2.32.4
gunicorn==23.0.0
whitenoise==6.6.0
django-compressor==4.5.1